/* 768 */

@media (max-width: 768px) {

  .my_container {
    max-width: 700px;
  }

  /* HERO */

  .hero__product {
    padding: 10px 40px;
  }

  .hero__product__img {
    height: 200px;
  }

  .hero__product__text {
    max-width: 400px;
  }

  .hero__product__list {
    width: 350px;
    height: 230px;
  }

  .hero__product__list__elem {
    font-size: 24px;
  }

  .order_btn {
    margin-top: 20px;
  }

  /* CONSIST */

  .consist {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .consist__center {
    display: none;
  }

  .consist__blocks {
    margin: 0 40px;
  }

  .consist__order_btn_2 {
    display: flex;
    margin-top: 50px;
  }

  /* REVIEW */

  .carousel-inner {
    width: 400px;
  }

  .review__blocks {
    gap: 5px;
  }

  .review__block {
    max-width: 120px;
    min-height: 250px;
    padding: 20px 10px;
  }

  .review__block__human {
    width: 80px;
  }

  .review__block__name {
    font-size: 16px;
    line-height: 20px;
  }

  .review__block__text {
    font-size: 12px;
    line-height: 15px;
  }

  /* PROMO */

  .promo {
    margin-top: 100px;
  }

  .promo__descr__img {
    height: 300px;
    margin-right: 20px;
  }

  .promo__descr__text {
    font-size: 22px;
  }

  .promo__char {
    margin-top: 50px;
  }

  .promo__char__list__elem {
    font-size: 24px;
    line-height: 1.2;
  }

  /* ORDER */

  .countdown {
    margin: 20px 0 50px;
  }

  .order__info {
    justify-content: space-around;
  }

  .order__product__img {
    height: 250px;
  }

  .order__product__new_price {
    font-size: 64px;
  }

  .order__product__old_price {
    margin-top: 30px;
    font-size: 46px;
  }

  .order_form_block input {
    width: 300px;
    height: 40px;
    font-size: 18px;
  }

  .order_form_block input:focus {
    outline: 3px solid hsla(0, 0%, 100%, 0.466);
  }

  .order__form__btn {
    width: 200px;
    height: 40px;
    margin-top: 30px;
    font-weight: 500;
    font-size: 24px;
  }
  
  .order__form__name_label,
  .order__form__tel_label {
    right: 20px;
    font-size: 14px;
    line-height: 20px;
}

}